*{
	text-decoration: none;
}

.corpo {  padding-top: 2rem; }

.block-img {
	max-width: 100%; 
	height: 100%;
	object-fit: cover;
}

.pre-load{
	margin:0;
	position: absolute;
	top:50%;
	left:50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.loader {
	padding: 20px 20px;
	margin-top: 10px;
	margin-bottom: 10px;

	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid gray; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

.page-item.active .page-link{
	background-color: #dc3545!important;
	border-color: #dc3545!important;
}

.table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before{
	background-color: #dc3545!important;
}