<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

	<div class="corpo" layout:fragment="corpo">
		<main role="main">
			<div id="alert"></div>
			<section class="jumbotron text-center pt-3 pb-3">
				<div class="container">
					<h1 class="jumbotron-heading">Promoções Store<b>Alpha</b> </h1>
					<p class="lead text-muted">Ofertas mais recentes</p>
					<hr class="my-4">
					<p>
						Aproveite a lista de ofertas e pague menos por seus desejos.
					</p>
					<form id="form-autocomplete">
						<div class="input-group mb-3">
							<input id="autocomplete-input" name="site" type="text" class="form-control" placeholder="Ex.: udemy">
							<div class="input-group-append">
								<button id="autocomplete-submit" type="button" class="btn btn-danger">Pesquisar</button>
							</div>
						</div>
					</form>
				</div>
			</section>

		<div class="album py-5">
			<div class="container">

				<div class="form-group">
					<button id="btn-alert"
						    class="btn btn-warning btn-lg btn-block hidden"	style="display: none;"></button>
				</div>

				<div class="row" th:insert="promo-card">
					
				</div>

				<div id="loading">
					<div id="loader-img" class="mx-auto loader"></div>
					<a id="fim-btn" type='button' href='#' class='btn btn-info mx-auto'>Fim! Voltar ao topo</a>
				</div>
			</div>
		</div>
		</main>
	</div>

	<script th:src="@{/js/promo-list.js}" th:fragment="js"></script>
</body>
</html>